S3method("labels<-",default)
S3method("labels<-",dendrogram)
S3method("labels<-",hclust)
S3method("labels<-",matrix)
S3method(as.dendrogram,phylo)
S3method(as.phylo,dendrogram)
S3method(cor_bakers_gamma,default)
S3method(cor_bakers_gamma,dendrogram)
S3method(cor_bakers_gamma,hclust)
S3method(cor_cophenetic,default)
S3method(cutree,default)
S3method(cutree,dendrogram)
S3method(cutree,hclust)
S3method(cutree,phylo)
S3method(entanglement,dendrogram)
S3method(entanglement,hclust)
S3method(entanglement,phylo)
S3method(head,dendrogram)
S3method(labels,hclust)
S3method(labels,matrix)
S3method(nleaves,dendrogram)
S3method(nleaves,hclust)
S3method(nleaves,phylo)
S3method(nnodes,default)
S3method(nnodes,dendrogram)
S3method(nnodes,hclust)
S3method(nnodes,phylo)
S3method(prune,default)
S3method(prune,dendrogram)
S3method(prune,hclust)
S3method(prune,phylo)
S3method(rev,hclust)
S3method(rotate,dendrogram)
S3method(rotate,hclust)
S3method(rotate,phylo)
S3method(shuffle,dendrogram)
S3method(shuffle,hclust)
S3method(shuffle,phylo)
S3method(sort,dendrogram)
S3method(sort,hclust)
S3method(tanglegram,dendrogram)
S3method(tanglegram,hclust)
S3method(tanglegram,phylo)
S3method(unbranch,default)
S3method(unbranch,dendrogram)
S3method(unbranch,hclust)
S3method(unbranch,phylo)
export("labels<-")
export("labels_colors<-")
export("order.dendrogram<-")
export(Bk)
export(Bk_permutations)
export(Bk_plot)
export(FM_index)
export(FM_index_R)
export(FM_index_permutation)
export(FM_index_profdpm)
export(all_couple_rotations_at_k)
export(as_hclust_fixed)
export(assign_dendextend_options)
export(assign_values_to_branches_edgePar)
export(assign_values_to_leaves_nodePar)
export(color_branches)
export(color_labels)
export(cor_bakers_gamma)
export(cor_cophenetic)
export(count_terminal_nodes)
export(cut_lower_fun)
export(cutree)
export(cutree_1h.dendrogram)
export(cutree_1k.dendrogram)
export(dendbackback)
export(dendextend_cut_lower_fun)
export(dendextend_get_branches_heights)
export(dendextend_heights_per_k.dendrogram)
export(duplicate_leaf)
export(entanglement)
export(fac2num)
export(fix_members_attr.dendrogram)
export(flatten.dendrogram)
export(flip_leaves)
export(get_branches_attr)
export(get_branches_heights)
export(get_childrens_heights)
export(get_leaves_attr)
export(get_nodes_attr)
export(hang.dendrogram)
export(heights_per_k.dendrogram)
export(intersect_trees)
export(is.dendrogram)
export(is.hclust)
export(is.natural.number)
export(is.phylo)
export(labels_colors)
export(leaf_Colors)
export(lowest_common_branch)
export(match_order_by_labels)
export(match_order_dendrogram_by_old_order)
export(nleaves)
export(nnodes)
export(plot_horiz.dendrogram)
export(prune)
export(prune_leaf)
export(raise.dendrogram)
export(rank_branches)
export(rank_order.dendrogram)
export(remove_branches_edgePar)
export(remove_leaves_nodePar)
export(rotate)
export(sample.dendrogram)
export(shuffle)
export(sort_2_clusters_vectors)
export(sort_dist_mat)
export(sort_levels_values)
export(tanglegram)
export(unbranch)
export(unclass_dend)
export(untangle_random_search)
export(untangle_step_rotate_1side)
export(untangle_step_rotate_2side)
import(ape)
import(stats)
import(utils)
